@import '../../scss/variables.scss';

.add-folder {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-60%, -50%);
  background-color: $primary-grey;
  border-radius: 8px;
  width: 347px;
  .add-folder-content {
    padding: 18px;
    h3 {
      margin: 0 0 17px;
    }
    input {
      width: 100%;
      padding: 5px;
      border: 0;
      margin-bottom: 20px;
      height: 26px;
      box-sizing: border-box;
    }
    button {
      padding: 5px 15px;
      background-color: $text-white;
      font-size: $font-size-14px;
      margin-right: 8px;
      border: 0;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
      }
    }
    .error-label {
      font-size: $font-size-12px;
      color: crimson;
      margin-top: 0;
    }
  }
}
