@import '../../scss/variables.scss';

.layout-container {
  background-color: $primary-black;
  display: flex;
  overflow-y: scroll;
  height: 505px;
  position: relative;
  .layout {
    width: 100%;
    margin: 0 0 0 250px;
    padding: 20px 27px 0;
    color: $text-secondary-grey;
  }
}
