@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.otf?#iefix');
    src: url('#{$file-path}.otf?#iefix') format('otf');
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}
